.Paginado {
  display: flex;
  background-color: transparent ;
  justify-content: center;
  align-items: center;
  height: 7vh;
 
}

.ul {
  padding-inline: 10px ;
  background-color: transparent;
  width: 70vw;
  height: 100%;
  display: flex;    
  justify-content: center;
  align-items: center;
  list-style: none;
}

.PaginadoNum {
  
  
  display: flex;
  align-items: center;
  justify-content: space-around ;
  margin: 0 2px 0 2px;
  cursor: pointer;
  
  border-radius: 3px;
  height: 3vh;
  color: #ffffff;
  font-size: 15px;
  background: black;
}

.PaginadoNum:hover{
  background-color: #43cea2;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}



